* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-moz-selection {
  color: red;
  text-shadow: none;
  background: #64a19d;
}
::selection {
  color: red;
  text-shadow: none;
  background: #64a19d;
}

.container-fluid {
  padding: 0!important;
  position: relative;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: rgb(56,182,255);
    color: #F7F1C4;
}


.list-group-item {
  margin: 1rem auto;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;

}

.cantidad{
width:10%;

}
p {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: #3B7590;
  font-size: 16px;
}
a{
    color: #597aa6;
    text-decoration: none;
    list-style-type: none;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  color: #597aa6;
  font-weight: 400;
}
.btn-primary {
  background-color: #64a19d;
  border: none;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 30px;
}
.btn-link {
  color: #64a19d;
}

/* Estilos del Nav */

.logoMigue {
    background-image: url(..\img\miguelogocnro1.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    top: 30px;
    left: 24px;
    width: 35%;
    height: auto;
    margin: 15px 15px 14px 67px;
    padding: 65px 0px 68px 20px;
}
nav{
  border: #007ECF;
  background-color:#007ECF;
  height: 128px;
  z-index: 1000;

}
.navbar {
  height: 150px;
  padding: 0;
}
.navbar-expand-lg .navbar-nav {
  background-color: #007ECF;
  width: 100%;
  padding: 1% 1% 1% 1%;
  font-size: 10px;
  font-weight: bold;
  justify-content: flex-end;
  text-align: center;
}
.navbar-dark .navbar-toggler {
  position: absolute;
  right: 15px;
  border: 2px solid rgba(255, 255, 255);
}
.navbar-dark i.fa-bars {
  font-size: 1em;
  margin-top: 6px;
}
.navbar-collapse {
  padding-top: 0px;
}
.navbar-expand-lg .navbar-nav {
  margin-left: 0px;
  margin-right: 10px;
}




ul.nav {
    list-style: none;
}
ul.nav ul {
    list-style: none;
}

ion-icon {
color: #F7F1C4;
font-size: 4em;
}

nav ul {
  border: #007ECF;
  background-color:#007ECF;
}

nav ul li a{
  font-family: 'Krona One', sans-serif;
  font-size: 0.8em;
  color: #597aa6;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 5px;
}
nav ul li a :hover{
  background-color: rgb(56,182,255);
  color: #F7F1C4;
}
nav i{
  font-size: 1.5em;
  color: #F7F1C4;
  margin-bottom: 6px;
}

nav ul li{
    padding-left: 0px;
}

nav ul li a p {
  display: none;
}

img.foto{
  border-radius: 50%;
  width: 50px;
  height: 40px;
}


.nav > li {
  border: #007ECF;
  background-color:#007ECF;
  float:left;
}

.nav li a {
  text-decoration: none;
  list-style-type: none;
  color: #F7F1C4;
  display:block;
  padding:10px 12px;
}

.nav li a:hover {
  background-color: rgb(56,182,255);
  color: #F7F1C4;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
  list-style-type: none;
display:block;
}
.nav li ul li {
position:relative;
}

.nav li ul li ul {
list-style-type: none;
margin-left: 210px;
right:-140px;
top:0;
}
.nav li .flecha{
font-size: 9px;
padding-left: 6px;
display: none;
}
.nav li a:not(:last-child) .flecha {
display: inline;
}




.enlace_desactivado {
pointer-events: none!important;
cursor: default!important;
}


.dropdown-menu{
  color: #007ECF;
  min-width: 2rem;
  padding: 0.5rem;
}
.dropdown-item{
  color: #597aa6;

}
.dropdown-menu.show{
  display: inline-block;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  border-radius: .25rem;
  padding-right: 15px;
}
.page-item.active .page-link {
  background-color: #fff;
color: #597aa6;
  border: 2px solid #000;
  font-weight: 700;
}
.page-link {
color: #597aa6;
  font-family: 'Quicksand', sans serif;
}




footer {
    background-color: #007ECF;
    padding-top: 5px;
    text-align: center;
    bottom: 0;
}
footer .container {
    margin: 3px auto 2px auto;
}
footer .footer-copyright {
    background-color: #346397;
    padding-top: 3px;
    padding-bottom: 3px;

}
footer .footer-copyright p {
    font-size: 0.8em;
    margin: 10px;
    color:  #F7F1C4;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer .logo-footer {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0px;
}

footer h5 {
    font-size: 1.3em;
    margin-top: 15px;
    text-transform: uppercase;
}
footer a {
  color:  #F7F1C4;
  text-decoration: none;
  list-style-type: none;
}
footer a:hover, footer a:active {
    text-decoration: none;
    color: #F7F1C4;
}
footer h1 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
footer .iconos-redes {
    display: inline;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .iconos-redes a {
  font-size: 12px;
    color: #007ECF;
    padding: 5px;
    transition: 0.2s;
}
footer .iconos-redes a ion-icon
{
  font-size: 2.5em;
}

footer .iconos-redes a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #64a19d;
}

footer .btn {
  background-color: #F7F1C4;
  color: #597aa6;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:10%;
    line-height: 25px;
}


@media (min-width:200px)
{


  footer a {
  font-size:20px;
  }
  .logoHoridex{
  width: 80%;

  }

    .logoMigue {
    background-image: url(../img/logomigueCeluSinBorde.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-items: center;
    top: 13px;
    left: 46px;
    width: 80%;
    height: auto;
    margin: 4px 4px 2px 2px;
    padding: 0px 4px 110px 2px;
  }


    .logo-footer {
        width: 258px;
        height: auto;
        margin: 0 0 10px 0px;
    }
    .nav {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

    nav {
      border: #007ECF;
      background-color:#007ECF;
    height: 89px;
    z-index: 1000;
  }
    .nav li ul {
    display:none;
    position:absolute;
    min-width:155px;
    }
    .nav li ul li ul {
      margin-right: 1px;
      margin-left: 130px;
      top:1px;

    }
    .navbar-expand-lg .navbar-nav {
      border: #007ECF;
      background-color:#007ECF;
      width: 100%;
      margin-top: 10%;
      padding: 0% 2% 2% 2%;
      font-size: 10px;
      font-weight: bold;
      justify-content: flex-end;
      text-align: center;
  }
    nav h1 {
      padding: 12px 0px 0 15px;
    }
    .navbar-toggler {
      padding: 1.25rem .75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: .25rem;
  }
  .w-100 {
      height: 100%;
      width: 100%;
  }

}

@media (min-width:374px)
{

  footer a {
    font-size:22px;
    }

  .logoHoridex{
  width: 90%;

  }
  .logoMigue {
    background-image: url(../img/logomigueCeluSinBorde.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-items: center;
    top: 13px;
    left: 55px;
    width: 80%;
    height: auto;
    margin: 4px 4px 2px 2px;
    padding: 0px 4px 122px 2px;
  }


    .logo-footer {
        width: 258px;
        height: auto;
        margin: 0 0 10px 0px;
    }

    /* .navbar-collapse {
        padding-top: 0px;
        margin-left:340px;
        margin-right:  00px;
        border-radius: 20px;
        border-style: solid 5px;
    } */
    .nav {
    padding-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

    nav {
    border: #007ECF;
    background-color:#007ECF;
    height: 89px;
    z-index: 1000;
  }
    .nav li ul {
    display:none;
    position:absolute;
    min-width:170px;
    }
    .nav li ul li ul {
      margin-right: -14px;
      margin-left: 205px;
      top:1px;

    }
    .navbar-expand-lg .navbar-nav {
      border: #007ECF;
      background-color:#007ECF;
      width: 100%;
      padding: 0% 2% 2% 2%;
      font-size: 10px;
      font-weight: bold;
      justify-content: flex-end;
      text-align: center;
  }
    nav h1 {
      padding: 12px 0px 0 15px;
    }
    .navbar-toggler {
      padding: 1.25rem .75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: .25rem;
  }
  .w-100 {
      height: 100%;
      width: 100%;
  }
}

@media (min-width:424px)
{

  footer a {
    font-size:25px;
    }

  .logoHoridex{
  width: 100%;

  }
  .logoMigue {

    background-image: url(../img/logomigueCeluSinBorde.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-items: center;
    top: 13px;
    left: 80px;
    width: 80%;
    height: auto;
    margin: 4px 4px 2px 2px;
    padding: 0px 4px 122px 2px;
    }

  .logo-footer {
      width: 258px;
      height: auto;
      margin: 0 0 10px 0px;
  }

  /* .navbar-collapse {
      padding-top: 0px;
      margin-left:340px;
      margin-right:  00px;
      border-radius: 20px;
      border-style: solid 5px;
  } */
  .nav li ul {
  display:none;
  position:absolute;
  min-width:170px;
  }
  .nav li ul li ul {
    margin-right: -29px;
    margin-left: 210px;
  top:3px;

  }
  .navbar-expand-lg .navbar-nav {
    border: #007ECF;
    background-color:#007ECF;
    width: 100%;
    padding: 0% 2% 2% 2%;
    font-size: 11px;
    font-weight: bold;
    justify-content: flex-end;
    text-align: center;
}

.w-100 {
    height: 100%;
    width: 100%;
}
  nav h1 {
    padding: 12px 0px 0 15px;
  }
  .navbar-toggler {
    padding: 1rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
}

@media (min-width:767px)
{

  footer a {
    font-size:14px;
    }

  .logoHoridex{
  width: 45%;

  }
  nav {
    border: #007ECF;
    background-color:#007ECF;
    height: 120px;
    z-index: 1000;
}

  footer .iconos-redes ion-icon {
  color: #F7F1C4;
  font-size: 1em;
  }

  footer .iconos-redes {
    display: inline;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .logo-footer {
  width: 306px;
  height: auto;
  margin: 9px 0 0px -34px;
}

  footer .btn {
    background-color: #F7F1C4;
     color: #597aa6;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
  }
footer.logo-footer {
      width: 258px;
      height: auto;
      margin: 0 0 10px 0px;
  }

  nav .logoMigue{
    background-image: url(../img/miguelogocnro1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 1px;
    left: 15px;
    width: 50%;
    height: auto;
    margin: 17px 4px 8px 20px;
    padding: 14px 0px 89px 24px;


  }

  nav ul li a{
    font-family: 'Krona One', sans-serif;
    font-size: 1.3em;
    color: #F7F1C4;
    text-transform: uppercase;
    margin-top: 5px;
  }


  .dropdown-menu{
    background-color: #007ECF;
    min-width: 5rem;
    padding: 0.5rem;
  }
  .dropdown-item{
    color: #F7F1C4;
  }
  .dropdown-menu.show{
    display: inline-block;
  }
  .navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
  }
  .navbar-collapse {
      padding-top: 0px;
      margin-left:00px;
      margin-right:  00px;
  }
  .navbar-collapse {
  padding-top: 0!important;
  padding-right: 15px;
  }
  .navbar-expand-lg .navbar-toggler {
  display: none;
  }
  .navbar-expand-lg .navbar-nav {
   margin-left: 0px;
    flex-direction: row;
    margin-top: 0px;


  }
  .navbar-expand-lg .navbar-nav {
    font-size: 6.5px;
        width: 100%;
        padding-top: 2%;
        justify-content: flex-end;
        text-align: center;
  }
  /* .navbar-expand-lg .navbar-nav {
      width: 100%;
      padding: 3% 3% 3% 2%;
      justify-content: center;

      text-align: center;

  } */
  /* ICONOS DEL NAV BOOT */
  .navbar-nav .nav-link {
      padding: 10px 12px;
      margin-right: 00px;
      margin-left: 00px;
  }
  nav h1 {
    padding: 0px 0px 0 100px;
  }


  nav ul li a p {
    display: inline;
    text-transform: lowercase;
    font-size: 0.8em;
  }


}

@media (min-width:1024px)
{

  .logoHoridex{
  width: 55%;

  }
  footer {
    border: #007ECF;
    background-color:#007ECF;
      padding-top: 5px;
      text-align: center;
      bottom: 0;
  }
  footer .container {
      margin: auto 30px;
  }
  footer .footer-copyright {
      background-color: #346397;
      padding-top: 3px;
      padding-bottom: 3px;

  }
  footer .footer-copyright p {
      font-size: 0.8em;
      margin: 10px;
      color: #F7F1C4;
  }
  footer ul {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  }

  footer .logo-footer {
    width: 381px;
    height: auto;
    margin: 11px 0 0px -40px;
  }

  footer h5 {
      font-size: 1.3em;

      margin-top: 15px;
      text-transform: uppercase;
  }
  footer a {
    color: #F7F1C4;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
  }
  footer a:hover, footer a:active {
      text-decoration: none;
      color: #F7F1C4;
  }
  footer h1 a{
      font-size: 50px;
      text-align: center;
      color: #fff;
  }
  footer .iconos-redes {
      display: inline;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 16px;
  }

  footer .iconos-redes a {

      color: #007ECF;
      padding: 5px;
      transition: 0.2s;
  }
  footer .iconos-redes a ion-icon
  {
    font-size: 2.5em;
    margin-top: 15px;
  }

  footer .iconos-redes a:hover {
      background-color: #fff;
      text-decoration: none;
      color: #64a19d;
  }

  footer .btn {
    background-color: #F7F1C4;
     color: #597aa6;
      border-radius: 20px;
      border: none;
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
  }

nav .logoMigue {
  background-image: url(../img/miguelogocnro1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 12px;
  width: 45%;
  height: 90%;
  margin: 2px 14px 2px 70px;
  padding: 53px 1px 68px 0px;
  }

nav ul li a{
    font-family: 'Krona One', sans-serif;
    font-size: 1.4em;

    text-transform: uppercase;
    margin-top: 5px;
}

    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 10px 12px;
  }

  .navbar-expand-lg .navbar-nav {
      width: 100%;
      padding: 0% 10% 1% 15%;
      justify-content: flex-end;
      text-align: center;

  }
  .navbar-collapse {
    padding-top: -10px;
    margin-left:0px;
    margin-right:  00px;
  }
}
/*
@media (min-width: 1365px){

  .logoHoridex{
  width: 45%;

  }


  nav .logoMigue {
    background-image: url(../img/miguelogocnro.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 3px;
    left: 46px;
    width: 35%;
    height: auto;
    margin: 1px 15px 1px 116px;
    padding: 22px 0px 68px 20px;
}

  footer {
      background-color: #e2efee;

      padding-top: 5px;
      text-align: center;
      bottom: 0;
  }
  footer .container {
      margin: 5px auto 5px;
  }
  footer .footer-copyright {
      background-color: #597aa6;
      padding-top: 3px;
      padding-bottom: 3px;

  }
  footer .footer-copyright p {
      font-size: 0.8em;
      margin: 10px;
      color: #ccc;
  }
  footer ul {
      font-size:1.3em;
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  }

  footer .logo-footer {
    width: 481px;
    height: auto;
    margin: 5px 0 10px -90px;
  }

  footer h5 {
      font-size: 2.1em;

      margin-top: 15px;
      text-transform: uppercase;
  }
  footer a {
      color: #597aa6;
      text-decoration: none;
      list-style-type: none;
  }
  footer a:hover, footer a:active {
      text-decoration: none;
      color: white;
  }
  footer h1 a{
      font-size: 50px;
      text-align: center;
      color: #fff;
  }
  footer .iconos-redes {
      display: inline;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 16px;
  }

  footer .iconos-redes a {

      color: #e2efee;
      padding: 5px;
      transition: 0.2s;
  }
  footer .iconos-redes a ion-icon
  {
    font-size: 3.2em;
  }

  footer .iconos-redes a:hover {
      background-color: #fff;
      text-decoration: none;
      color: #64a19d;
  }

  footer .btn {
      color: white;
      background-color: #597aa6;
      border-radius: 20px;
      border: none;
      width: 220px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
  }

  ion-icon {
  color: #597aa6;
  font-size: 3em;
  }

  nav ul li a {
      font-size: 12px;
  }


.navbar-expand-lg .navbar-nav {
    width: 100%;
    padding: 0% 3% 1% 15%;
    justify-content: flex-end;
    text-align: center;

}
.navbar-collapse {
  padding-top: -10px;
  margin-left:0px;
  margin-right:  00px;
}

} */
@media (min-width: 1399px){

/* .nav li ul li ul {
  margin-left: 210px;
  right:-175px;
} */


  nav .logoMigue {
    background-image: url(../img/miguelogocnro1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 14px;
    width: 45%;
    height: 90%;
    margin: 2px 14px 2px 70px;
    padding: 53px 1px 68px 0px;
    }




  footer {
      border: #007ECF;
      background-color:#007ECF;
      padding-top: 5px;
      text-align: center;
      bottom: 0;
  }
  footer .container {
      margin: 5px auto 5px;
  }
  footer .footer-copyright {
      background-color: #346397;
      padding-top: 3px;
      padding-bottom: 3px;

  }
  footer .footer-copyright p {
      font-size: 0.8em;
      margin: 10px;
      color: #F7F1C4;
  }
  footer ul {
      font-size:1.3em;
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  }

  footer .logo-footer {
    width: 481px;
    height: auto;
    margin: 5px 0 10px -90px;
  }

  footer h5 {
      font-size: 2.1em;

      margin-top: 15px;
      text-transform: uppercase;
  }
  footer a {
      color: #F7F1C4;
      text-decoration: none;
      list-style-type: none;
  }
  footer a:hover, footer a:active {
      text-decoration: none;
      color: #F7F1C4;
  }
  footer h1 a{
      font-size: 50px;
      text-align: center;
      color: #fff;
  }
  footer .iconos-redes {
      display: inline;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 16px;
  }

  footer .iconos-redes a {

      color: #e2efee;
      padding: 5px;
      transition: 0.2s;
  }
  footer .iconos-redes a ion-icon
  {
    font-size: 3.2em;
  }

  footer .iconos-redes a:hover {
      background-color: #fff;
      text-decoration: none;
      color: #64a19d;
  }

  footer .btn {
    background-color: #F7F1C4;
     color: #597aa6;
      border-radius: 20px;
      border: none;
      width: 220px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
  }

  ion-icon {
  color: #F7F1C4;
  font-size: 3em;
  }

  nav ul li a {
      font-size: 12px;
  }


.navbar-expand-lg .navbar-nav {
    width: 100%;
    padding: 0% 7% 1% 15%;
    justify-content: flex-end;
    text-align: center;

}
.navbar-collapse {
  padding-top: -10px;
  margin-left:0px;
  margin-right:  00px;
}




}

                                            /* MEDIAQUERIES */



                                                  /* 32 pulgadas */

@media (min-width: 1919px){
  .container{
    max-width: 1720px;
  }

  .logoHoridex{
    width: 40%;

    }


.breadcrumb {
    padding-left: 3rem;
    font-size: 2em;
    border: #007ECF;
    background-color: #007ECF;
    margin-top: 0%;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
  padding: 0% 16% 0% 0%;
  justify-content: flex-end;
  text-align: center;
}

nav .logoMigue {
      background-image: url(../img/miguelogocnro.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 3px;
      left: 14px;
      width: 30%;
      height: auto;
      margin: 1px 1px 1px 1px;
      margin: 3px 14px 2px 230px;

  }

footer {
    background-color: #007ECF;
    padding-top: 5px;
    text-align: center;
    bottom: 0;
}
footer .container {
    margin: 5px auto 5px;
}
footer .footer-copyright {
    background-color: #346397;
    padding-top: 3px;
    padding-bottom: 3px;

}
footer .footer-copyright p {
    font-size: 0.8em;
    margin: 10px;
    color: #ccc;
}
footer ul {
    font-size:1.3em;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer .logo-footer {
  width: 481px;
  height: auto;
  margin: 5px 0 10px -90px;
}

footer h5 {
    font-size: 2.1em;
    margin-top: 15px;
    text-transform: uppercase;
}
footer a {
    color: #F7F1C4;
    text-decoration: none;
    list-style-type: none;
}
footer a:hover, footer a:active {
    text-decoration: none;
    color: #F7F1C4;
}
footer h1 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
footer .iconos-redes {
    display: inline;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .iconos-redes a {

    color: #e2efee;
    padding: 5px;
    transition: 0.2s;
}
footer .iconos-redes a ion-icon
{
  font-size: 3.2em;
}

footer .iconos-redes a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #64a19d;
}

footer .btn {
    background-color: #F7F1C4;
    color: #597aa6;
    border-radius: 20px;
    border: none;
    width: 220px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

ion-icon {
color: #F7F1C4;
font-size: 3em;
}

nav ul li a {
    font-size: 12px;
}



}

























/* Productos */
h1.titulo-productos {
  color: black;
  font-size: 3em;
  margin: 20px 0 0 15px;
  font-weight: 300;
}
h1.titulo-productos strong {
  font-weight: 700;
}
.card {
  border: none;
  text-align: center;
}
.card .titulo a {
  border: 2px solid black;
  margin: 10px auto;
  padding: 10px 24px;
  transition:0.2s background-color;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.card .titulo a:hover, .card .titulo a:active {
  background-color:#007ECF!important;
  transform:translateY(2px);
  transform:translateX(2px);
}
.card .titulo a h5 {
  color: #000;
  font-family: 'Quicksand', sans serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 0;
}
.card .titulo a h5:hover {
  color: #fff;
  font-weight: 700;
}
.card .titulo p {
  color: #6C6C6C;
}
.card .card-producto {
  position: relative;
}
.card .card-producto .producto-hover {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.card .card-producto .producto-hover:hover {
  opacity: 0.7;
}
.card-producto .producto-hover .producto-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 45%;
  color: white;
}
.card-producto .producto-hover .producto-hover-content button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.card-producto .producto-hover .producto-hover-content i.fas {
  font-size: 2em;
  color: #fff;
  padding: 0 15px;
}
.card-producto .producto-hover .producto-hover-content i.fas:hover {
  opacity: 0.5;
}

/* Producto Detalle */
form{
  text-align: center;
}
#titDetalle{
  font-size: 2rem;
}
#detalle-producto {
  margin: 15px 0 40px 0;
}
#detalle-producto ul li {
  list-style: none;
  display: inline;
}
#detalle-producto ul li a {
  text-decoration: none;
  color: black;
}
#detalle-producto ul li a:hover {
  font-weight: 700;
}

#detalle-producto .tarjeta h1{
  color: black;
  font-size: 3em;
  margin: 10px 0;
  font-weight: 300;
}
#detalle-producto .tarjeta p {
  color: black;
  font-family: 'Quicksand', sans serif;
}
#detalle-producto .tarjeta p span {
  color: #64a19d;
  font-weight: 700;
  text-transform: uppercase;
}
#detalle-producto .tarjeta p.precio {
  color: #6C6C6C;
  font-style: italic;
}
#detalle-producto .tarjeta button {
  color: white;
  border: 2px solid black;
  background-color:#346397!important;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 10px 24px;
  transition:0.2s ;

}
#detalle-producto .tarjeta button:hover, #detalle-producto .tarjeta button:active {
background-color:#346397!important;
  color: #fff;
  transform:translateY(2px);
  transform:translateX(2px);
}
#detalle-producto .tarjeta a {
  border: 2px solid black;
  background-color:#346397!important;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 10px 24px;
  transition:0.2s background-color;
}
#detalle-producto .tarjeta a:hover, #detalle-producto .tarjeta a:active {
  border: 2px solid black;
  background-color:#346397!important;
  color: #000;
  transform:translateY(2px);
  transform:translateX(2px);
}


/* FAQS */
.fondo-preguntas {
  background-image: url("../img/fondo-preguntas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 50px 0 100px;
}
.preguntasF {
  text-align: center;
}
.preguntasF h3{
  color: #000;
  font-size: 1.9em;
  padding: 10px 0;
}
.preguntasF .card {
  margin: 0 auto 10px;
  max-width: 500px;
  border: none;
}
.preguntasF .card-header {
  background-color: #000;
}
.preguntasF .btn-link {
  color: #fff;
}
.preguntasF .btn-link:hover, .preguntasF .btn-link:active{
  text-decoration: none;
}
.preguntasF .card-body p {
  color: #000!important;
}



.offset-md-4 {
  margin: 0;
}
.text-md-right{
  text-align: center ! important;
}

form-check {
  padding: 1rem;
}
div.col-sm-6{
  margin: 0 auto;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {

  font-size: inherit;
}
.breadcrumb-item.active {
  color: darkgrey;
}